<section id="contact" class="wow fadeInUp foot-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="foot-nav">
                    <h1>Navigation</h1>
                    <h2></h2>
                    <ul>
                        <li><a href="{{base}}">Home</a></li>
                        <li><a href="{{base}}#about">Services</a></li>
                        <li><a href="contact">Contact Us</a></li>
                    </ul>
                </div>
                <div class="foot-nav">
                    <h1>Services</h1>
                    <h2></h2>
                    <ul>
                        <li><a href="{{base}}#Kitchen-Remodeling" id="kitchen">Kitchen Remodeling</a></li>
                        <li><a href="{{base}}#Bathroom-Renovation" id="bathroom">Bathroom Renovation</a></li>
                        <li><a href="{{base}}#Window-Installation" id="window">Window Installation</a></li>
                        <li><a href="{{base}}#Door-Installation" id="door">Door Installation</a></li>
                        <li><a href="{{base}}#Roofing" id="roofing">Roofing</a></li>
                    </ul>
                </div>
                <div class="foot-nav three">
                    <ul>
                        <li><a href="{{base}}#Sliding" id="sliding">Sliding</a></li>
                        <li><a href="{{base}}#Home-Additions" id="home">Home Additions</a></li>
                        <li><a href="{{base}}#Restoration-Services" id="restoration">Restoration Services</a></li>
                        <li><a href="{{base}}#Custom-Home-Building" id="custom">Custom Home Building</a></li>
                    </ul>
                </div>

            </div>

            <div class="col-lg-4 right">
                <img src="img/foot-logo.png">

                <div class="contact-phone">

                    <h3><i class="ion-ios-telephone-outline"></i> Phone Number</h3>
                    <p>(800)123-4567</a></p>
                </div>

                <div class="contact-address">

                    <h3><i class="ion-ios-location-outline"></i> Address</h3>
                    <p>Valley Pro Contractor 218 N Magnolia Ave Clovis, CA 93611 </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--==========================
  Footer Top Section end
============================-->


<!--==========================
  Footer
============================-->
<footer id="footer">
    <div class="container">
        <div class="copyright">
            Copyright &copy; 2018 | Valley Pro Contractor
        </div>

        <div class="social">
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-google-plus"></i></a>
            <a href=""><i class="fa fa-linkedin"></i></a>
            <a href=""><i class="fa fa-instagram"></i></a>
        </div>
    </div>
</footer><!-- #footer -->

<script src="js/services.js"></script>