<section id="contact" class="wow fadeInUp foot-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="foot-nav">
                    <h1>Navigation</h1>
                    <h2></h2>
                    <ul>
                        <li><a href="{{base}}">Home</a></li>
                        <li><a href="{{base}}#about">Services</a></li>
                        <li><a href="contact">Contact Us</a></li>
                    </ul>
                </div>
                <div class="foot-nav">
                    <h1>Services</h1>
                    <h2></h2>
                    <ul>
                    {% for service in site.data.services %}
                        <li><a href="/#{{service.key}}" class="goButton" data-to="{{service.key}}">{{service.name}}</a></li>
                    {% endfor %}
                    </ul>


                </div>
                <div class="foot-nav three">

                </div>

            </div>

            <div class="col-lg-4 right">
                <img src="img/foot-logo.png">

                {% if site.data.settings.phones[0] %}
                <div class="contact-phone">
                    <h3><i class="ion-ios-telephone-outline"></i> Phone Number</h3>
                        {% for phone in site.data.settings.phones %}
                            <p title="{{phone.title}}">{{phone.number}}</a></p>
                        {% endfor %}
                </div>
                {% endif %}


                <div class="contact-address">

                    <h3><i class="ion-ios-location-outline"></i> Address</h3>
                    <p>
                        {{site.data.settings.companyName}} <br />
                        {{site.data.settings.address.street}}<br />
                        {% if site.data.settings.address.address2.size > 1 %}
                            {{site.data.settings.address.address2}}<br />
                        {% endif %}
                        {{site.data.settings.address.city}}, {{site.data.settings.address.state}} {{site.data.settings.address.zip}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--==========================
  Footer Top Section end
============================-->


<!--==========================
  Footer
============================-->
<footer id="footer">
    <div class="container">
        <div class="copyright">
            Copyright &copy; 2018 | {{site.data.settings.companyName}}
        </div>

        <div class="social">
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-google-plus"></i></a>
            <a href=""><i class="fa fa-linkedin"></i></a>
            <a href=""><i class="fa fa-instagram"></i></a>
        </div>
    </div>
</footer><!-- #footer -->

<script src="js/services.js"></script>