<div class="top-custom">
    <div class="container">
        <h1><a href="{{base}}" class="scrollto"><img src="img/logo.jpg"></a></h1>
        <h3><img src="img/tel.png"> 800 123-4567</h3>
    </div>
</div>

<!--==========================
    Top Bar
  ============================-->
<section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
        <!--<div class="contact-info float-left">
          <i class="fa fa-envelope-o"></i> <a href="mailto:contact@example.com">contact@example.com</a>
          <i class="fa fa-phone"></i> +1 5589 55488 55
        </div>-->

        <div id="logo" class="pull-left">
            <h1><a href="{{base}}" class="scrollto"><img src="img/logo.jpg"></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
            {% if site.data.settings.tagline %}
            <h5><img src="img/tag-stick.png"></h5>
            <h6>{{site.data.settings.tagline}}</h6>
            {% endif %}
        </div>
        <div class="social-links float-right">
            {% if site.data.settings.phones[0] %}
            <h2><img src="img/tel.png"></h2>

            <h5><img src="img/tag-stick.png"></h5>

            <h3>Call Us Now
                <br>
                <span title="{{site.data.settings.phones[0].title}}">{{site.data.settings.phones[0].number}}</span>
            </h3>
            {% endif %}

            <h6><a href="contact">Get a Quote</a></h6>

        </div>
    </div>
</section>

<header id="header">
    <div class="container">
        <!--Create Include here-->
        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="/">Home</a></li>
                <li class="menu-has-children"><a href="{{base}}#about" id="service">Services</a>
                    <ul>
                        {% for service in site.data.services %}
                        <li><a href="/#{{service.key}}" class="goButton" data-to="{{service.key}}">{{service.name}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav><!-- #nav-menu-container -->
        <!--End include here -->
    </div>
</header><!-- #header -->