<!--==========================
    Top Bar
  ============================-->
<section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
        <!--<div class="contact-info float-left">
          <i class="fa fa-envelope-o"></i> <a href="mailto:contact@example.com">contact@example.com</a>
          <i class="fa fa-phone"></i> +1 5589 55488 55
        </div>-->

        <div id="logo" class="pull-left">
            <h1><a href="{{base}}" class="scrollto"><img src="img/logo.jpg"></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
            <h5><img src="img/tag-stick.png"></h5>
            <h6>Example Tagline 2018</h6>
        </div>
        <div class="social-links float-right">

            <h2><img src="img/tel.png"></h2>
            <h5><img src="img/tag-stick.png"></h5>
            <h3>Call Us Now <br> <span>800 123-4567</span></h3>
            <h6><a href="contact">Get a Quote</a></h6>

        </div>
    </div>
</section>