<section id="about" class="wow fadeInUp slide-testi1">
    <div class="container">

        <div class="row service-title">
            <div class="col-lg-12">
                <h1>OUR SERVICES</h1>
                <h2></h2>
            </div>
        </div>

        {% assign rowIndex = 0 %}

        {% for service in site.data.services %}
            {% if rowIndex == 0 %}
                <div class="row service-text">
            {% endif %}
                    <div class="col-lg-4 one goButton" data-to="{{service.key}}">
                        <h1><img src="img/services/srv01.png"></h1>
                        <h1><img src="img/services/hov01.png" class="img-top1"></h1>
                        <h2>{{service.name}}</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed leo tellus. Praesent nec vehicula ligula, non laoreet ligula.</p>
                    </div>
            {% if rowIndex == 2 %}
                </div>
                {% assign rowIndex = 0 %}
            {% else %}
                {% assign rowIndex = rowIndex | plus: 1  %}
            {% endif %}
        {% endfor %}
    </div>
</section>