{% include header.html  %}
{% include base.html %}
<body id="body">

{% include navbar.html %}


<main id="main">
    <section id="contact-page" class="wow fadeInUp contact-section">
        <div class="row">
            <div class="col-lg-2 cont-left">
            </div>
            <div class="col-lg-4 cont-left" style="padding-bottom: 15px">
                <h2>{{page.header}}</h2>
                <h3 class="title-border"></h3>
                <div style="line-height: 25px">
                    <!--If you are curious to hear more about what we can offer, do not hesitate to get in touch. Send us your brief and learn how we work...-->
                    {{content}}
                </div>

                <div class="left-add">

                    {% if site.data.settings.phones[0] %}
                        <div class="contact-number">
                            <h3><i class="ion-ios-telephone-outline"></i> Phone Number</h3>
                            {% for phone in site.data.settings.phones %}
                            <p title="{{phone.title}}"><a href="tel:{{phone.number}}">{{phone.number}}</a></p>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="contact-add">
                        <h3><i class="ion-ios-location-outline"></i> Address</h3>
                        <p>
                            {{site.data.settings.companyName}} <br />
                            {{site.data.settings.address.street}}<br />
                            {% if site.data.settings.address.address2.size > 1 %}
                            {{site.data.settings.address.address2}}<br />
                            {% endif %}
                            {{site.data.settings.address.city}}, {{site.data.settings.address.state}} {{site.data.settings.address.zip}}
                        </p>
                    </div>

                    {% if site.data.settings.emails[0] %}
                    <div class="contact-mail">
                        {% for email in site.data.settings.emails %}
                        <h3><i class="ion-ios-email-outline"></i> {{email.title}} <a href="mailto:{{email.address}}">{{email.address}}</a></h3>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-6">
                <iframe
                        width="100%"
                        height="100%"
                        frameborder="0" style="border:0"
                        src="{{site.data.settings.googleMapLink}}" allowfullscreen>
                </iframe>

            </div>
        </div>
    </section>
</main>

<!--==========================
  Footer Top Section
============================-->

{% include footer.html %}

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>



</body>
</html>
