{% include header.html  %}
{% include base.html %}
<body id="body">

{% include navbar.html %}


<main id="main">

    <section  class="intro">
        <div class="container">
            <div class="intro-content">
                <h2>{{page.heading_line1}}</h2>
                <h3>{{page.heading_line2}}</h3>
                {{ content }}
                <div>
                    <a href="contact" class="btn-get-started scrollto">Request a Quote</a>
                </div>
            </div>

        </div>
    </section>

    {% include services.html %}

    {% for service in site.data.services %}
        {% include service.html service=service %}
    {% endfor %}

    {% include testimonials.html %}


</main>

<!--==========================
  Footer Top Section
============================-->

{% include footer.html %}

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<script>
    if (window.location.href!="https://mohanwbsofttech.github.io/vallypro.io/contact"){
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }
        //for 1st slider
        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            if (n > x.length) {slideIndex = 1}
            if (n < 1) {slideIndex = x.length}
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex-1].style.display = "block";

            //for 2nd slider
            var a = document.getElementsByClassName("mySlides1");
            if (n > a.length) {slideIndex = 1}
            if (n < 1) {slideIndex = a.length}
            for (i = 0; i < a.length; i++) {
                a[i].style.display = "none";
            }
            a[slideIndex-1].style.display = "block";

            //for 3rd slider
            var b = document.getElementsByClassName("mySlides2");
            if (n > b.length) {slideIndex = 1}
            if (n < 1) {slideIndex = b.length}
            for (i = 0; i < b.length; i++) {
                b[i].style.display = "none";
            }
            b[slideIndex-1].style.display = "block";

            //for 4th slider
            var c = document.getElementsByClassName("mySlides3");
            if (n > c.length) {slideIndex = 1}
            if (n < 1) {slideIndex = c.length}
            for (i = 0; i < c.length; i++) {
                c[i].style.display = "none";
            }
            c[slideIndex-1].style.display = "block";

            //for 5th slider
            var d = document.getElementsByClassName("mySlides4");
            if (n > d.length) {slideIndex = 1}
            if (n < 1) {slideIndex = d.length}
            for (i = 0; i < d.length; i++) {
                d[i].style.display = "none";
            }
            d[slideIndex-1].style.display = "block";

            //for 6th slider
            var e = document.getElementsByClassName("mySlides5");
            if (n > e.length) {slideIndex = 1}
            if (n < 1) {slideIndex = e.length}
            for (i = 0; i < e.length; i++) {
                e[i].style.display = "none";
            }
            e[slideIndex-1].style.display = "block";

            //for 7th slider
            var f = document.getElementsByClassName("mySlides6");
            if (n > f.length) {slideIndex = 1}
            if (n < 1) {slideIndex = f.length}
            for (i = 0; i < f.length; i++) {
                f[i].style.display = "none";
            }
            f[slideIndex-1].style.display = "block";

            //for 8th slider
            var g = document.getElementsByClassName("mySlides7");
            if (n > g.length) {slideIndex = 1}
            if (n < 1) {slideIndex = g.length}
            for (i = 0; i < g.length; i++) {
                g[i].style.display = "none";
            }
            g[slideIndex-1].style.display = "block";

            //for 9th slider
            var h = document.getElementsByClassName("mySlides8");
            if (n > a.length) {slideIndex = 1}
            if (n < 1) {slideIndex = h.length}
            for (i = 0; i < h.length; i++) {
                h[i].style.display = "none";
            }
            h[slideIndex-1].style.display = "block";

        }
    }

</script>

</body>
</html>
